@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #ffffff;;
  font: Roboto, Arial, sans-serif;
  color: #06203a;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  color: #ffffff;
}

h3 {
  margin: 20px 0;
  font-size: 20px;
  color:#b2b2b2
}

.produto {
  background: #111;
  color: #ccc;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  text-align: left;
  border-radius: 4px;
   font-family:Roboto,Arial,Sans-serif;
}

.produto h3 {
  color: #ffffff;
}

.preço {
  color:#40dbf6 ;
  font-weight: bold;
  font:Roboto,Arial,Sans-serif;
}

.destaque {
  color: #b5dbff;
}

.botao {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: #7dbeff;
  color: #134964;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
